/* Body Elements */

body{
  font-family: 'Roboto', sans-serif;
}

a{
  font-weight: bold;
  text-decoration: none!important;
}

h1{
  text-align: center;
  padding-top: 4%;
  margin: 0;
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 1.5rem;
  color: #495464;
}

h4 {
  text-align: center;
  margin: 0;
}

p {
  font-style: italic;
  text-align: justify;
  margin-bottom: 1.8rem;
}


/* Author By Line */


.byline {
  font-weight: 300;
}


/* Text Content */


.content {
padding-left: 12%;
padding-right: 12%;
}


/* To Be Continued Text */


.tbc{
  text-align: right;
  font-weight: bold;
  color: #6b778d;
  margin-bottom: 0;
}


/* Chapter Buttons */

.lastchpbtn {
  float: left;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:2rem;
  margin-top:2rem;
}

.lastchpbtn:hover {
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}


.nextchpbtn {
  float: right;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:2rem;
  margin-top:2rem;
}

.nextchpbtn:hover{
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}

.chpbtn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:0.5rem;
  margin-top:0.5rem;
  display: flex;
}

.chpbtn:hover{
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}


/* Chapter List Columns */

.chlist {
  margin-bottom: 0.7rem;
  margin-top: 0.8rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}


/* Navigation Bar */

.logo {
  height:40px;
}

.nav-link, .nav-item {
  font-weight: 400;
}

.nav-item, .navbar-brand {
  padding: 0.5rem;
}

.navbar-toggler {border-style: none;}


/* Facility Image Designs */

.design1 {width: 20%;}
.design2 {width: 59%;}


/* Font Size Declarations */

p, .byline, .tbc, .lastchpbtn, .nextchpbtn, .chpbtn, .nav-item {font-size: 1rem;}


/* Media Query Breakpoints */

@media only screen and (max-width:1200px) {
  p {font-size: 1.5rem;}
.content {padding-right:9%;padding-left:9%}
.design1 {width: 60%;}
.design2 {width: 80%}
.logo {height: 70px;}
.lastchpbtn, .nextchpbtn {margin-bottom: 3rem;}
li.nav-item {padding-left: 1.5rem;}
}

@media only screen and (max-width:992px) {
  h1 {font-size: 4rem;}
  h2 {font-size: 2.5rem;margin-bottom: 2rem;}
  p {font-size: 2rem;}
.content {padding-right:6%;padding-left:6%}
.design1, .design2 {width: 100%;}
.nav-item {font-size: 2rem;}
.logo {height: 100px;}
.byline, .tbc, .lastchpbtn, .nextchpbtn, .chpbtn {font-size: 1.5rem;}
.lastchpbtn, .nextchpbtn {margin-bottom: 5rem;}
}
