body{
  font-family: 'Roboto', sans-serif;
}

a{
  font-weight: bold;
  text-decoration: none!important;
}

h1{
  text-align: center;
  padding-top: 4%;
  margin: 0;
  font-size: 4rem;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: #495464;
}

h4 {
  text-align: center;
  margin: 0;
}

p{
  font-style: italic;
  text-align: justify;
  font-size: 2rem;
}

.byline {
  font-weight: 300;
  font-size: 1.5rem;
}

.content {
padding-left: 6%;
padding-right: 6%;
}

.tbc{
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
  color: #6b778d;
  margin-bottom: 0;
}

.lastchpbtn {
  float: left;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:2rem;
  margin-top:2rem;
}

.lastchpbtn:hover {
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}

.nav-link, .nav-item {
  font-weight: 400;
}

.nextchpbtn {
  float: right;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:2rem;
  margin-top:2rem;
}

.nextchpbtn:hover{
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}

.chpbtn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-radius: 0.7rem;
  border-color: #9ba4b4;
  color: #9ba4b4;
  background-color: #394867;
  transition: 0.5s background-color;
  margin-bottom:0.5rem;
  margin-top:0.5rem;
  display: flex;
  text-align: center;
}

.chpbtn:hover{
  background-color:#9ba4b4;
  color: #394867;
  transition-delay: 0.2s;
}

.chlist {
  margin-bottom: 0.7rem;
  margin-top: 0.8rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.nav-item {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.navbar-brand {
  padding: 0.5rem;
}

.logo {
  height:100px;
}

@media (min-width:1076px) {
  p {font-size: 1rem;}
  h2 {font-size: 1.5rem;margin-bottom: 2%;}
  h1 {font-size: 3rem;}
.content {padding-right:9%;padding-left:9%}
.design2 {width:59%;}
.design1 {width: 20%;}
.nav-item {font-size: 1rem;}
.logo {height: 40px;}
.byline {font-size: 1rem;}
}

@media (min-width:1268px) {
.content {padding-right:12%;padding-left:12%}
}
